html{
    background-color: black;
    margin: 0;
}
body{
    margin: 0;
}

.mediaCover{
    width: 100%;
    height: 105vh;
    z-index: 2;
    position: absolute;
    top: 0;
    left: 0;
    background-image: url(images/VESIT.jpg);
    background-position: 50% 50%;
    background-size: cover;
    opacity: .3;
}
.main{
    height: auto;
    z-index: 3;
}
.main > .logonstuff{
    height: 100vh;
}

.main > .logonstuff > .logo{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    max-width: 100%;
    max-height: 55%;
    z-index: 4;
    
}
.logonstuff > .buttoncol{
    position: absolute;
    top: auto;
    right: 0;
    bottom: 2em;
    left: 0;
    margin: auto;
    text-align: center;
}
.buttoncol > .button{
    display: inline-block;
    cursor: pointer; 
    width: 150px;
    height: 35px;
    border: 1px solid #c73c3c;
    box-sizing: initial;
    transition: all .375s ease;
    position: relative;
    padding-top: 15px;
    z-index: 6;
    color: white;
    background-color: #782a2a;
    border-radius: 50px;
    font-family: 'Lato';
    transition: all 0.3s ease 0s;
}
.buttoncol > .button:hover{
    background-color: #cc3636;
}
.logonstuff #back{
    display: none;
}
#trailer{
    position: absolute;
    z-index: 7;
    border: none;
    left: 0;
    top: 10%;
    max-width: 1000px;
}
@media only screen and (min-width: 1000px){
    #trailer{
        margin-left:10%;
    }
}

@media only screen and (max-width: 768px){
    .main > .logo{
        max-width: 90%;
    }
}
@media only screen and (max-width: 768px){
    .logonstuff > .buttoncol{
        bottom: 5em;
       }    

    .buttoncol > .button{
        width: 170px;
        height: 40px;
        font-size: 18px;
    }
}
@media only screen and (max-height: 420px){
    .logonstuff > .buttoncol{
        bottom: 2em;
       }    

    .buttoncol > .button{
        width: 150px;
        height: 30px;
        font-size: 16px;
    }
}
.main > .desc{
    height: 100%;
    z-index: 3;
    width: 100%;
    background-color: #f3f2f2;
    position: relative;
    box-sizing: border-box;
    padding: 5em 5px 5em 5px;
    font-size: 1em;
    overflow-y: auto;
    font-family: 'Lato';

}
.main > .desc > .contents{
   
    position: relative;
    text-align: center;
}
.desc > .contents > p{
    margin-bottom: 3em;
}
.desc > .contents > .title{
    margin-bottom: 1em;
}
.desc > .columns{
    width: 100%;
    position: relative;
    margin-top: 10px;
    color: #bcbcbc;
}
.desc > .columns h2{
    color: #000000;
}
.desc > .columns > .col1{
    float: left;
    width: 48%;
    text-align: center;
    margin-right: 2%
}
.desc > .columns > .col2{
    float: left;
    width: 48%;
    text-align: center;
}

@media only screen and (max-width: 480px){
    .main > .desc{
        font-size: 1.2em;
    }
    .desc > .columns > .col1{
    
        width: 100%;
        margin-bottom:1em;
}
    .desc > .columns > .col2{
    
        width: 100%;
        margin-bottom:1em;
}
}
.main > .sponsors{
    height: 100vh;
    width: 100%;
    z-index: 4;
    background-color: #47b475;
    position: relative;
}